Source: ros-kinetic-transforms3d
Section: misc
Priority: extra
Maintainer: user <james.goppert@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-transforms3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-kinetic-catkin
Description: The foo package
